* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the entire page */
html, body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header Styles */
header {
    background-color: #f44444;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    vertical-align:middle;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover, i:hover {
    color: #0cff2c;
    font-size: 15px;
    cursor: pointer;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    nav ul {
        flex-direction: row;
        text-align: center;
    }

    nav a {
        font-size: 16px;
    }
}

/* Style for the image slideshow section */
.image-slideshow {
    text-align: center;
    padding: 20px;
}

.image-slideshow h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
}

.mySlides {
    display: none;
    width: 100%;
    height: auto;
}

/* Style for the news section */
.news-marquee {
    background-color: #f7f7f7;
    padding: 20px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.news-marquee h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.news-marquee marquee{
   height:200;
}
.marquee-content {
    overflow: hidden;
}

.marquee-content p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.4;
}

/* Style for the news links */
.marquee-content a {
    text-decoration: none;
    color: #0077cc;
    transition: color 0.3s ease-in-out;
}

.marquee-content a:hover {
    color: #ff5733;
}


.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width:400px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff5733;
}

.note{
    text-align: left;
    margin: 5px 0px;
    padding: 4px;
}

hr{
    color: 2px solid gray;
}

#foot{
    color: rgb(163, 163, 163);
    border-radius: 0 0 8px 8px;
    margin: 5px 0px;
    padding: 4px;
    font-weight: 700;
}

